@model ProjectMVC_FoxIT.Models.VIewModel.CustomerViewModel
@*@model IEnumerable<ProjectMVC_FoxIT.Models.Customer>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary shadow-lg"><i class="fas fa-plus pr-2"></i>Create New</a>
</p>

<form asp-action="Index" method="post">
    <div class="row">
        <div class="form-group col-2">
            <label class="control-label">Customers</label>
            <br />
            <input type="text" class="shadow" asp-for="Name" autocomplete="off" placeholder="-- Select --" list="selectListCustomersName" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <datalist id="selectListCustomersName">
            @foreach (var names in Model.CustomerNames)
            {
                <option value="@names.Value" />
            }
        </datalist>

        <div class="form-group col-2">
            <label class="control-label">Address</label>
            <br />
            <input type="text" class="shadow" asp-for="Address" autocomplete="off" placeholder="-- Select --" list="selectListCustomersAddress" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <datalist id="selectListCustomersAddress">
            @foreach (var address in Model.CustomerAddress)
            {
                <option value="@address.Value" />
            }
        </datalist>

        <div class="form-group col-2">
            <label class="control-label">Edbs</label>
            <br />
            <input type="text" class="shadow" asp-for="Edb" autocomplete="off" placeholder="-- Select --" list="selectListCustomersEDB" />
            <span asp-validation-for="Edb" class="text-danger"></span>
        </div>
        <datalist id="selectListCustomersEDB">
            @foreach (var edb in Model.CustomerEdbs)
            {
                <option value="@edb.Value" />
            }
        </datalist>

        <div class="form-group col-1 pt-4">
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>  @*Search button*@
        </div>

    </div>
</form>
<table class="table table-striped">
    <thead class="bg-secondary text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Web)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-info btn-sm"><i class="fas fa-info"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
