@model ProjectMVC_FoxIT.Models.Project

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1>Details</h1>
</div>

<div class="container">
    <h4>Project</h4>
    <hr />
    <dl class="row shadow-lg border border-info w-50 ml-1">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        @if (Model.IsActive.HasValue && !Model.IsActive.Value)
        {
            <dd class="col-sm-12">
                <a asp-action="Delete" asp-route-id="@Model.ProjectId" class="btn btn-md btn-danger my-3"><i class="fas fa-trash"></i> Delete</a>  @*Created delete button if IsActive now is False*@
            </dd>
        }
    </dl>
    <div class="form-group mt-5 w-50">
        <a asp-action="Index" class="btn btn-secondary float-left shadow-lg"><i class="fas fa-arrow-circle-left"></i> Back to List</a>  
        <a asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-warning float-right shadow-lg mr-n2">Edit  <i class="fas fa-user-edit"></i></a>
    </div>
</div>
